@model Category


<form method="post" asp-controller="Category" asp-action="AddCategory">
    <div class="border p-3">
        <div>
            <h2>Create Category</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="fw-bold"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DisplayOrder" class="fw-bold"></label>
            <input asp-for="DisplayOrder" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>